# Project settings
ENV=development
LOG_LEVEL=INFO

# Database settings
SQLALCHEMY_DATABASE_URI=

# Redis settings
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

# Cloud object storage settings
COS_SECRET_ID=
COS_SECRET_KEY=
COS_BUCKET=
COS_REGION=
